@media screen and (max-width:1799px) {
  .home-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #535353;
    .top-image {
      width: 100%;
    }
    .middle-image {
      width: 100%;
      display: grid;
      grid-template-columns: 0.3fr 0.3fr 0.4fr;
      grid-template-rows: 0.4fr 0.25fr 0.25fr 0.5fr;
      gap: 12px;
      margin: 12px 0px;
    }
  }
}
@media screen and (max-width:1023px) {
  .home-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #535353;
    .top-image {
      width: 100%;
    }
    .middle-image {
      width: 100%;
      display: grid;
      grid-template-columns: 0.3fr 0.3fr 0.4fr;
      grid-template-rows: 0.4fr 0.25fr 0.25fr 0.5fr;
      gap: 8px;
      margin: 8px 0px;
    }
  }
}
@media screen and (max-width:767px) {
  .home-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #535353;
    .top-image {
      width: 100%;
    }
    .middle-image {
      width: 100%;
      display: grid;
      grid-template-columns: 0.3fr 0.3fr 0.4fr;
      grid-template-rows: 0.4fr 0.25fr 0.25fr 0.5fr;
      gap: 4px;
      margin: 4px 0px;
    }
  }
}